footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7e9693;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    width: 100%;
    position: relative;
    padding: 10px 10px 0 10px;
    bottom: 0;
}

section .footer-container {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

footer .footer-container section h3 {
    margin-bottom: 10px;
}

footer .footer-container section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-container section ul li {
    margin-bottom: 5px;
}

footer .footer-container section ul a {
    text-decoration: none;
    color: #333;
}

footer .footer-container section form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

footer .footer-container section form button:hover {
    background-color: #555;
}