@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header {
    border: 1px solid #ccc;
    background-color: #d5b09c;
}

header div > div > span {
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: #204045;
}

header div > div {
}

header div div span a
{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 550px) {
    header div > div > span {
        margin-left: 15px;
        margin-right: 15px;
        font-weight: bold;
    }
}

