.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin: 50px;

    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.product-item .product-image {
    height: 400px;
    width: 100%;
}

.product-item .product-details .product-controls{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.product-item .product-details .product-controls button{
    width: 50%;
    height: 40px;
    border-style: solid;
}

.product-item .product-details .product-controls .remove-product-btn:hover{
    background-color: #db0000;
}

.product-item .product-details .product-controls .edit-product-btn:hover{
    background-color: dodgerblue;
}

.product-item .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.management-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 680px) {
    .management-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


.management-container div{
    margin:10px;
}

.create-item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #ccc;
}

.create-item *{
    margin-left: 10px;
    margin-right: 10px;
}

.create-item form input{
    margin-bottom: 10px;
}

.manage-categories{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
}

.manage-categories .search-category{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid gray;
}

.manage-categories .search-category .search-input{
    display: flex;
    align-items: center;
}

.manage-categories .search-category .search-result{
    display: flex;
}

.manage-categories .search-category .search-result button{
    margin-left:5px;
    margin-right: 5px;
}

.manage-categories .add-category{
}


.edit-product-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid black;
}

